.auth_wrapper{
    background-image: url('../../../pages/images/H2x1_NSwitch_WhoWantsToBeAMillionaire_UK_image1280w.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: absolute;
  
    display: flex;
    align-items:start;
    justify-content:end;
    
}

.form_container{
    width: 350px;
    padding: 12px;
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.09);
    border-radius: 12px;
  
}


